* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    min-height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main {
    background: url(../images/close-up-bicycle-details-parts.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    flex-grow: 1;
}

/* about css */
/* ---------------- */
/* ---------------- */
/* ---------------- */
.about-text {
    background-color: #fff;
    color: black;
    width: 45%;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 10px;
}

.about-h2 {
    padding-top: 0.5em;
    text-align: center;
}

.about-p {
    text-align: center;
    padding: 2em;
    font-size: 18px;
}

/* catalog css */
/* ---------------- */
/* ---------------- */
/* ---------------- */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1);
}

.left-side {
    grid-column: 1/3;
}

.right-side {
    grid-column: 3/13;
    display: flex;
}

.leftside-filter {
    margin: 1em;
    padding: 1em;
    background-color: #fff;
    color: black;
    border-radius: 20px;
    min-width: 155px;
}

.leftside-filter-label {
    background-color: #43484D;
    color: #fff;
    padding: 1em;
    font-size: 18px;
}

.leftside-felter-values {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 18px;
    
}

.leftside-felter-values a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;    
}

.leftside-felter-values a:hover {
    text-decoration: underline green 4px;
    text-underline-offset: 8px;    
}

.grid-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    background-color: #fff;
    color: black;
    border-radius: 20px;
}

.card-text {
    text-align: center;
}

.Product_name {
    margin-bottom: 5px;
    font-size: 1.7em;
}

.Product_description {
    text-align: justify;
    padding: 0 10px;
}

.card-btn {
    margin: 1em;
    font-size: 1.2em;
    width: 60px;
    border-radius: 10px;
    border-color: green;
    background-color: green;
    cursor: pointer;
}

.card>img {
    width: 80%;
}

@media (max-width: 1020px) {
    .catalog-wrapper {
        display: flex;
        flex-direction: column;
    }
    .leftside-filter-label {
        text-align: center;

    }
    .leftside-felter-values {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .grid-card {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
    .card {
        max-width: 450px;
    }
    .card>img {
        width: 60%;
    }
}

@media (max-width: 570px) {
    .grid-card {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
}

@media (max-width: 495px) {
    .leftside-felter-values {
        display: flex;
        flex-direction: column;
    }
    .leftside-felter-values a {
        text-align: center;
        margin-bottom: 8px;
    }
}

.pagination-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: green;
    color: white;
    border: 1px solid green;
}

.pag-br {
    border-radius: 20% 0 0 20%;
}
.pag-br-end {
    border-radius: 0 20% 20% 0;
}

.pagination a:hover:not(.active) {
    background-color: green;
}

/* login css */
/* ---------------- */
/* ---------------- */
/* ---------------- */
.form-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    background-color: #fff;
    color: black;
    border-radius: 20px;
}

.form-wrapper form {
    display: block;
}

.form-wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.form-wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid green;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember label input {
    accent-color: green;
    margin-right: 3px;
}

.remember a {
    color: green;
    text-decoration: none;
    font-weight: 600;
}

.remember a:hover {
    color: blue;
    text-decoration: underline;
}

.login-btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border: 2px solid green;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
}

.register-link {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

.register-link p a {
    text-decoration: none;
    font-weight: 600;
    color: green;
}

.register-link p a:hover {
    color: blue;
    text-decoration: underline;
}

/* cart css */
/* ---------------- */
/* ---------------- */
/* ---------------- */
.shopping-cart {
    width: 750px;
    margin: 60px auto;
    background: #FFFFFF;
    color: black;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
}

.crt-title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: black;
    font-size: 25px;
    font-weight: 400;
}

.crt-order {
    height: 60px;
    border-top: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.crt-order a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 8px;
    width: 190px;
    background-color: #43484D;
    color: #fff;
    border-style: solid;
    border-radius: 40px;
    border-color: #43484D;
    padding: 6px;
    transition: 0.7s;
    transform: translateY(-8px);
}

.crt-order a:hover {
    background-color: green;
}

.item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
}

.item:nth-child(3) {
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}

.delete-btn {
    display: inline-block;
    Cursor: pointer;
    width: 18px;
    height: 17px;
}

.crt-image {
    margin-right: 50px;
}

.crt-image img {
    width: 100%;
    height: 100%;
}

.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.description span {
    display: block;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 400;
}

.quantity {
    padding-top: 20px;
    margin-right: 60px;
}

.quantity input {
    appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.plus-btn,
.minus-btn {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

button:focus,
input:focus {
    outline: 0;
}

.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 500;
}

@media (max-width: 800px) {
    .shopping-cart {
        width: 90%;
        height: auto;
        overflow: hidden;
    }
    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .icrt-image img {
        width: 50%;
    }
    .crt-image,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }
    .buttons {
        margin-right: 20px;
        padding-bottom: 10px;
    }
    .delete-btn {
        width: 30px;
        height: 30px;
    }
}