{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">

    <div class="catalog-wrapper">

        <div class="left-side">
            <div class="leftside-filter">
                <div class="leftside-filter-label">
                    Категории
                </div>
                <div class="leftside-felter-values">
                    
                    {% for category in categories %}
                        <a href="{% url "bicycles:catalog" category.slug %}">{{ category }}</a>
                    {% endfor %}

                </div>
                <div class="leftside-filter-label">
                    Цена
                </div>
                <div class="leftside-felter-values">
                    <a href="#">до 5000</a>
                    <a href="#">до 10000</a>
                    <a href="#">до 15000</a>
                </div>
            </div>
        </div>

        <div class="right-side">
            <div class="grid-card">

                {% for product in goods %}

                    <div class="card">
                        <img src={{ product.image.url }} alt={{ product.name }}>
                        <div class="card-text">
                            <p class="Product_name">{{ product.name }}</p>
                            <p class="Product_description">{{ product.description }}</p>
                            <div class="crt-order">
                                <a href="#">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>
                
                {% endfor %}
                
            </div>
        </div>

    </div>
    
</div>

<div class="pagination-position">
    <div class="pagination">

      <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" class="pag-br">«</a>

        {% for page in page_obj.paginator.page_range %}
            <a class="{% if page_obj.number == page %} active {% endif %}"
            href="?page={{ page }}">{{ page }}</a>
        {% endfor %}

      <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" class="pag-br-end">»</a>

    </div>
</div>
{% endblock  %}
